<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 
	<bean id="helloBean" class="xml_config.Hello">
		<constructor-arg value="Greg" />
	</bean>
	
 -->
 
 	<!-- Or, can use property call. -->
	<bean id="helloBean" class="xml_config.Hello">
		<property name="name" value="Greg" />
	</bean>	

	<!-- Or, construct with reference to another bean; start here and build classes -->
	<bean id="anotherHelloBean" class="xml_config.AnotherHello">
		<constructor-arg value="Greg" />
		<constructor-arg>
		  <ref bean="detail"/>
		</constructor-arg>
	</bean>	
	
	<bean id="detail" class="xml_config.Detail">
		<property name="description" value="Interesting description here" />
	</bean>

 	
</beans>